<div class="card">
    <div class="card-header">
        <h2 id="page-heading">
            <span>Lịch sử giao dịch</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span >
                Nạp tiền cho đại lý
                </span>
            </button>
        </h2>
    </div>
    <div *ngIf="transactions">
        <table class="table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="status"><span>Phân loại</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toUser.login"><span>Đại lý</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Số tiền chuyển</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Ngày chuyển</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td>
                    <span *ngIf="transaction.status === 1">
                        Chuyển tiền cho đại lý
                    </span>
                    <span *ngIf="transaction.status === 2">
                        Nhận hoa hồng từ đại lý
                    </span>
                    <span *ngIf="transaction.status === 3">
                        Trừ tiền giao dịch thẻ
                    </span>
                </td>
                <td>
                    {{transaction.toUser?.login}}
                </td>
                <td>{{(transaction.amount | pointReplacer)}}</td>
                <td>
                    {{transaction.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="transactions && transactions.length">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
