<div class="card">
    <div class="card-body">
        <div class="col-md-8">
            <h2 *ngIf="account">Thay đổi mật khẩu của <b>{{account.login}}</b></h2>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Nhập mật khẩu hiện tại của bạn"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                            Trường này bắt buộc nhập.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="Nhập mật khẩu mới"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput?.dirty && newPasswordInput?.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput?.errors.required">
                            Trường này bắt buộc nhập.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput?.errors.minlength">
                            Mật khẩu phải chưa ít nhất 4 ký tự
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput?.errors.maxlength">
                            Mật khẩu không dài quá 50 ký tự
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu mới</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Xác nhận mật khẩu mới"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput?.dirty && (confirmPasswordInput?.invalid || this.newPassword !== this.confirmPassword)">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput?.errors?.required">
                            Trường này bắt buộc nhập.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput?.errors?.minlength">
                            Mật khẩu phải chưa ít nhất 4 ký tự
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput?.errors?.maxlength">
                            Mật khẩu không dài quá 50 ký tự
                        </small>
                        <small class="form-text text-danger" *ngIf="this.newPassword !== this.confirmPassword">
                            Mật khẩu xác nhận không khớp với mật khẩu mới
                        </small>
                    </div>

                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
