<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="system">
            <h2><span>System</span> {{system.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>High Free From</span></dt>
                <dd>
                    <span>{{system.highFreeFrom}}</span>
                </dd>
                <dt><span>Hign Fee To</span></dt>
                <dd>
                    <span>{{system.hignFeeTo}}</span>
                </dd>
                <dt><span>Fee Percent Lv 1</span></dt>
                <dd>
                    <span>{{system.feePercentLv1}}</span>
                </dd>
                <dt><span>Fee Percent Lv 2</span></dt>
                <dd>
                    <span>{{system.feePercentLv2}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system', system.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
