<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demandDtl">
            <h2><span>Demand Dtl</span> {{demandDtl.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Denomination</span></dt>
                <dd>
                    <span>{{demandDtl.price}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{demandDtl.quantity}}</span>
                </dd>
                <dt><span>Demand</span></dt>
                <dd>
                    <div *ngIf="demandDtl.demand">
                        <a [routerLink]="['/demand', demandDtl.demand?.id, 'view']">{{demandDtl.demand?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demand-dtl', demandDtl.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
